<!doctype html>
<html>

<head>
  <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/public/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon-16x16.png">
  <meta charset="utf-8" />
  <title>Curlybois</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/libs/linedTextArea/jquery-linedtextarea.css">
  <!--Bootstrap CSS depedancy-->
  <link rel="stylesheet" type="text/css" href="/public/libs/bootstrap/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!--sidebar CSS-->
  <link rel="stylesheet" type="text/css" href="/public/css/sidebar.css">
  <!--template CSS-->
  <link rel="stylesheet" type="text/css" href="/public/css/template.css">
  <!--editor CSS-->
  <link rel="stylesheet" type="text/css" href="/public/css/editor.css">

  <!--Syntax hilighting-->
  <link rel="stylesheet" type="text/css" href="/public/libs/codemirror/lib/codemirror.css">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="/public/libs/codemirror/theme/eclipse.css">
  <link rel="stylesheet" type="text/css" href="/public/libs/codemirror/theme/tomorrow-night-bright.css">

    <link rel="faq" href="faq.css">

</head>
<script>
  //true if document is already in the database
  {{#if docSaved}}
    var docSaved = true;
  {{else}}
    var docSaved = false;
  {{/if}}
</script>
<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="brand" href="javascript:void(0);"><i class="fas fa-chevron-circle-right"></i> Curlybois</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="dropdown nav-item">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="FileBtn" href="javascript:void(0);">File</a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" id="NewBtn" href="javascript:void(0);">New<span class="sr-only">(current)</span></a></li>
                  <li><a class="nav-link" id="DownloadBtn" href="javascript:void(0)">Download</a></li>
                  {{#if docSaved}}
                      <li class="nav-item"><a class="nav-link" id="DelBtn" href="javascript:void(0);">Delete</a></li>

                  {{/if}}
                </ul>
        </li>
          <li class="nav-item">
            <a class="nav-link" id="SaveBtn" href="javascript:void(0);">Save</a>
          </li>
          {{#if docSaved}}<li><a class="nav-link" id="ShareBtn" href="javascript:void(0);">Share</a></li>{{/if}}
          <li class="nav-item">
            <a class="nav-link" id="StlyeBtn" href="javascript:void(0);">Dark</a>
          </li>

          <li class="nav-item">
              <input list="langs" name="plangs" id="plangid">
              <datalist id="langs">
              </datalist>
              <button id="langBtn">Change language</button>
              <!--<input type="submit" value="Change language" onsubmit="modlang = $('#plangid').val()">-->
          </li>
        <li class="nav-item">
          <a class="nav-link text-success font-weight-bold invisible" id="MessageItem"></a>
        </li>


      </ul>
        <!-- Button trigger modal -->
       <div class="ml-auto">
          <button type="button" class="btn btn-primary rounded-30" data-toggle="modal" data-target="#faqModal">
              ?
          </button>
      </div>
      </div>



  </nav>
  <!-- FAQ -->
  <div class="modal fade" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="faqModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content modal-lg">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">FAQ</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div id="includedContent"></div>
                  <!--Greeting-->

                  <!--Style Toggle-->

                  <!--Saving-->
                  <!--New-->

                  <!--Downloading-->

                  <!--Sharing-->


              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Add User -->
  <div class="modal fade" id="AddUserModal" tabindex="-1" role="dialog" aria-labelledby="AddUserModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content modal-lg">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Invite User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="#AddUserForm">
              <div class="container">
                  <div class="row">

                  <div class="col-8">
                      <input type="email" placeholder="email address.." class="side-btn form-control" id="AddUserEmailField">
                  </div>
                  <div class="col-4">
                      <select id="AddUserPermissionLevelSelect" class="custom-select" style="margin-top:10px">
                          <option value="3">Owner</option>
                          <option value="1">Editor</option>
                          <option value="0">Viewer</option>
                        </select>
                  </div>
              </div>
              </div>
              <div class="modal-body">
                  <div id="includedContent"></div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button id="SendInviteBtn" type="submit" class="btn btn-primary">Send Invite</button>
              </div>
          </form>
          </div>
      </div>
  </div>
  <div class = "wrapper">

  <!-- Sidebar -->
  <nav id="sidebar" class="active">
      <div class="sidebar-header">
          <h3>Curlybois</h3>
      </div>

      <ul class="list-unstyled components">
        {{#if user}}
        <p><b>Account:</b> {{user.username}}</p>
        <li>
            <!--User's Documents-->
            <a href="#menuSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">{{user.username}}'s documents</a>
            <ul class="collapse list-unstyled" id="menuSubmenu">
                <a href="#ownersSubmenu" id="menuSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Owned pages</a>
                <ul class="collapse list-unstyled" id="ownersSubmenu">
                </ul>

                <a href="#editorsSubmenu" id="menuSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Editable pages</a>
                <ul class="collapse list-unstyled" id="editorsSubmenu">
                </ul>

                <a href="#viewersSubmenu" id="menuSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Viewable pages</a>
                <ul class="collapse list-unstyled" id="viewersSubmenu">
                </ul>
            </ul>
        </li>
        {{/if}}
        <div class="container-editor container">

            <li class="active">
                {{#if user}}
                    {{#if docSaved}}
                        <li>
                            <!-- Page Options -->
                            <a href="#pageOptionSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Page Options</span></a>
                            <ul class="collapse list-unstyled" id="pageOptionSubmenu">
                                <div id="displayNameAbleFile" style="display:none">
                                    <li>
                                        <input class="login form-control" type="text" placeholder="filename" id="filename" maxlength="20">
                                    </li>
                                    <li>
                                        <button class="login form-control" id="nameFileBtn">Rename File</button>
                                    </li>
                                </div>
                            </ul>
                        </li>
                    </li>

                        <li>
                            <!--User Permissions -->
                            <a href="#permissionsSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">User Permissions</span></a>
                            <ul class="collapse list-unstyled" id="permissionsSubmenu">
                                <!--owners submenu-->
                                <a href="#ownersSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Owners</span></a>
                                <ul class="collapse list-unstyled" id="ownersSubmenu">
                                    {{#each page.owner}}
                                        <li><a href="javascript:void(0);">{{this}}<i class="fas fa-trash-alt float-right"></i></a></li>
                                    {{/each}}        <div class="container-editor container">

            <li class="active">
                {{#if user}}
                    {{#if docSaved}}
                        <li>
                            <!-- Page Options -->
                            <a href="#pageOptionSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Page Options</span></a>
                            <ul class="collapse list-unstyled" id="pageOptionSubmenu">
                                <div id="displayNameAbleFile" style="display:none">
                                    <li>
                                        <input class="login form-control" type="text" placeholder="filename" id="filename" maxlength="20">
                                    </li>
                                    <li>
                                        <button class="login form-control" id="nameFileBtn">Rename File</button>
                                    </li>
                                </div>
                        </li>
                    </li>

                        <li>
                            <!--User Permissions -->
                            <a href="#permissionsSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">User Permissions</span></a>
                            <ul class="collapse list-unstyled" id="permissionsSubmenu">
                                <!--owners submenu-->
                                <a href="#ownersSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Owners</span></a>
                                <ul class="collapse list-unstyled" id="ownersSubmenu">
                                    {{#each page.owner}}
                                        <li><a href="javascript:void(0);">{{this}}<i class="fas fa-trash-alt float-right"></i></a></li>
                                    {{/each}}
                                </ul>
                                <!--editors submenu-->
                                <a href="#editorsSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Editors</span></a>
                                <ul class="collapse list-unstyled" id="editorsSubmenu">
                                    {{#each page.editors}}
                                        <li><a href="javascript:void(0);">{{this}}<i class="fas fa-trash-alt float-right"></i></a></li>
                                    {{/each}}
                                </ul>
                                <!--viewers submenu-->
                                <a href="#viewersSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Viewers</span></a>
                                <ul class="collapse list-unstyled" id="viewersSubmenu">
                                    {{#each page.viewers}}
                                        <li><a href="javascript:void(0);">{{this}}<i class="fas fa-trash-alt float-right"></i></a></li>
                                    {{/each}}
                                </ul>
                                <div class="container">
                                    <button class="side-btn form-control" id="RemoveUserMenuBtn" data-toggle="modal" data-target="#AddUserModal">Invite</button>
                                    <button class="side-btn form-control" id="AddUserMenuBtn">Remove User</button>
                                </div>
                            </ul>
                        </li>
                    {{/if}}
                {{else}}
                    <a href="#homeSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" aria-expanded="false">Login</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <div id='loginReturnBlock' style="display:none">
                            <li>
                                <p style="color:red" id="loginReturnText"></p>
                            </li>
                        </div>
                        <li><input type="text" placeholder="username" class="side-btn form-control" id="UsernameField"></li>
                        <li><input type="password" placeholder="password" class="side-btn form-control" id="PasswordField"></li>
                        <li><button class="side-btn form-control" id="LoginBtn">Login</button></li>
                        <li><button class="side-btn form-control" id="RegisterBtn">Signup</button></li>
                    </ul>
                {{/if}}
            </li>
        </div>
                                </ul>
                                <!--editors submenu-->
                                <a href="#editorsSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Editors</span></a>
                                <ul class="collapse list-unstyled" id="editorsSubmenu">
                                    {{#each page.editors}}
                                        <li><a href="javascript:void(0);">{{this}}<i class="fas fa-trash-alt float-right"></i></a></li>
                                    {{/each}}
                                </ul>
                                <!--viewers submenu-->
                                <a href="#viewersSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" class="font-weight-bold " aria-expanded="false">Viewers</span></a>
                                <ul class="collapse list-unstyled" id="viewersSubmenu">
                                    {{#each page.viewers}}
                                        <li><a href="javascript:void(0);">{{this}}<i class="fas fa-trash-alt float-right"></i></a></li>
                                    {{/each}}
                                </ul>
                                <div class="container">
                                    <button class="side-btn form-control" id="RemoveUserMenuBtn" data-toggle="modal" data-target="#AddUserModal">Invite</button>
                                    <button class="side-btn form-control" id="AddUserMenuBtn">Remove User</button>
                                </div>
                            </ul>
                        </li>
                    {{/if}}
                {{else}}
                    <a href="#homeSubmenu" class="sidenav-item dropdown-toggle" data-toggle="collapse" aria-expanded="false">Login</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <div id='loginReturnBlock' style="display:none">
                            <li>
                                <p style="color:red" id="loginReturnText"></p>
                            </li>
                        </div>
                        <li><input type="text" placeholder="username" class="side-btn form-control" id="UsernameField"></li>
                        <li><input type="password" placeholder="password" class="side-btn form-control" id="PasswordField"></li>
                        <li><button class="side-btn form-control" id="LoginBtn">Login</button></li>
                        <li><button class="side-btn form-control" id="RegisterBtn">Signup</button></li>
                    </ul>
                {{/if}}
            </li>
        </div>

      </ul>
        <div class="container">
          {{#if user}}
          <button class="side-btn form-control" id="LogoutBtn">Logout</button>
          {{/if}}
      </div>
  </nav>

  {{{body}}}
</div>
</body>
<!--jQuery-->
<script src="/public/libs/jquery/jquery-3.3.1.min.js"></script>
<!--Linedtextareas-->
<script src="/public/libs/linedTextArea/jquery-linedtextarea.js"></script>
<!--Bootstrap-->
<script src="/public/libs/bootstrap/js/bootstrap.min.js"></script>
<!--Controller-->
<script src="/public/js/controller.js"></script>
<!-- Highlight jS -->
<script src="/public/libs/codemirror/lib/codemirror.js"></script>
<script src="/public/libs/codemirror/mode/meta.js"></script>
<script src="/public/libs/codemirror/mode/javascript/javascript.js"></script>

<!--Socket.io-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script
<!--main-->
<script src="/public/js/main.js"></script>
<!--keyboard input-->
<script src="/public/js/keyboard.js"></script>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<!--Front end unit test library-->
<!--<script src="chai.js"></script>-->
<!--<script src="chai-http.js"></script>-->
<!--<script> chai.use(chaiHttp); </script>-->
</html>
